{% form 'customer' %}
    <div class="email">
      <label for="email" style="display: none;">Email</label>
      <input type="email" placeholder="EMAIL ADDRESS" name="contact[email]" />
    </div>
  
    <div class="submit">
      <input type="submit" value="Sign up" />
    </div>
{% endform %}