{% assign variant = product.selected_or_first_available_variant %}
{% if product.compare_at_price > product.price %}
    <span class="product-price on-sale" itemprop="price">{{ variant.price | money }}</span>
    <s class="product-compare-price">{{ variant.compare_at_price | money }}</s>
{% else %}
    <span class="product-price" itemprop="price">{{ variant.price | money }}</span>
{% endif %}