<div class="sandwich">
    <div class="bread">
        <span class="stuff stuff-top">&nbsp;</span>
        <span class="stuff stuff-middle">&nbsp;</span>
        <span class="stuff stuff-bottom">&nbsp;</span>
    </div>
</div>