.photos-page {

    display: flex;
    justify-content: center;

    .slideshow-wrapper {
        max-width: 50vw;
    }

    .swiper-slide {
        text-align: center;

        img {
            width: auto;
            max-height: 60vh;
        }
    }

    .swiper-controls {
        color: var(--white);
    
        img {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    
        .button-next {
            text-align: right;
        
            img {
                transform: rotate(180deg);
            }
        }
        
    }

    .swiper-controls {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }


    .swiper-pagination {
        position: relative !important;
        width: auto !important;
        bottom: 0px !important;
    }
    
    .swiper-pagination-bullet {
        background: transparent !important;
        border: 1px solid var(--white) !important;
        opacity: 1 !important;
        width: 15px;
        height: 15px;
    }
    
    .swiper-pagination-bullet-active {
        opacity: var(--swiper-pagination-bullet-opacity, 1);
        background: var(--white) !important;
    }
    
    .swiper-wrapper {
        height: calc(100% - 20px) !important;
    }


}

@media screen and (max-width: 769px) {

    .photos-page {

        .slideshow-wrapper {
            max-width: 98vw;
        }

    }

}