<div class="swiper">
    <div class="swiper-wrapper">
            
        {% for block in section.blocks %}

            <!-- Slides -->
            <div class="swiper-slide">
                <img src="{{ block.settings.slideimage | img_url: '1080x' }}" alt="{{ block.settings.slidealt | escape }}" />
            </div>

        {% endfor %}

    </div>

    <div class="swiper-controls">
        <div class="swiper-pagination"></div>
    </div>

</div>

  
{% schema %}
      {
        "name": "Photos Slideshow",
        "tag": "section",
        "class": "photos-slideshow",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "page-title",
            "label": "Page Title"
          }
        ],
        "max_blocks": 50,
        "blocks": [
           {
             "name": "Slide",
             "type": "slide",
             "settings": [
               {
                 "type": "image_picker",
                 "id": "slideimage",
                 "label": "Slide Image"
               },
               {
                 "type": "textarea",
                 "id": "slidealt",
                 "label": "SEO Description"
               }
             ]
           }
        ],
          "presets": [{
              "name": "Photos Slideshow",
              "category": "photos",
              "blocks": [{
                  "type": "slide"
              }]
          }]
      }
  {% endschema %}




<script>

  const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
      clickable: true
    },

  });

</script>