
.product--wrapper {

    .actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 6px;
        align-items: center;
        margin: var(--spacing) 0;
    }

    .switch-field {
        display: flex;
        align-items: stretch;
        overflow: visible;
        transition: all 0.2s ease-in-out;
        position: relative;

        input {
            position: absolute !important;
            clip: rect(0, 0, 0, 0);
            height: 1px;
            width: 1px;
            overflow: hidden;
        }

        label {
            background: transparent;
            color: var(--white);
            font-size: 28px;
            font-family: var(--robot-font);
            line-height: 0;
            border: 1px solid var(--white);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 10px;
        }

        label:hover {
            cursor: pointer;
            background: var(--black);
            color: var(--pink);
            border: 1px solid var(--pink);
        }

        input:checked + label {
            background-color: var(--pink);
            color: var(--black);
            box-shadow: none;
            border: 1px solid var(--pink);
        }
    }
    
    .switch-field:last-of-type {
        margin: 0;
    }

}



/* 
   ====================================================
   MEDIUM
   ====================================================
*/
@media screen and (max-width: 1200px) {

    .switch-field label {
        font-size: 20px;
        padding: 12px 4px;
    }

}

/* 
   ====================================================
   MOBILE
   ====================================================
*/
@media screen and (max-width: 769px) {

    .product--wrapper {

 
        .switch-field label {
            font-size: 16px;
            padding: 12px 4px;
        }
    }

}