.enter {

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    background: var(--black);
    width: 100vw;
    height: 100vh;

    .enter--wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: relative;
    }

    .logo {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
        opacity: 0;

        img {
            width: 100%;
            max-width: 50vw;
        }

    }

    .enter-button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
        text-transform: uppercase;
        display: block;
        z-index: 6;
        cursor: pointer;
        opacity: 0;

        span {
            color: var(--pink);
            font-family: var(--robot-font);
            font-size: 36px;
        }
    }

    #player {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 90vw;
        height: 90vh;
        z-index: 4;
        margin: 0 auto;
    }

}

@media screen and (max-width: 769px) {
    

    .enter {
        z-index: 9999;

        .logo {

            position: absolute;
            top: 50%;
            left: 0px;
            right: 0px;
            transform: translate(0%, -50%);
            z-index: 5;
            text-align: center;
            img {
                width: 100%;
                max-width: 80vw;
            }
    
        }

    }

    .enter #player {
        position: absolute;
        top: 0;
        right: -20vw;
        bottom: 0;
        left: -20vw;
        width: 140vw;
        height: 100svh;
        z-index: 4;
        margin: 0 auto;
        transform: rotate(90deg);
    }


}